:root {
    --primary-color: white;  /* NS huisstijl kleuren */
    --secondary-color: #003082;
    --tertiary-color: #F0F1F3;
    --accent-color: #FFC919;
    --font-family: "NS sans", "Sans-serif";
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family);
    background-color: var(--primary-color);
}

header {
    width: 100%;
    box-shadow: 0 3px 10px rgb(226, 226, 226);
}

.header_logo {
    padding: 2vw;
    margin-left: 2vw;
    margin: 0px;
}

h1 {
    align-self: flex-start;
    color: var(--secondary-color);
    font-weight:600;
}

h2 {
    color:var(--secondary-color);
    background-color: var(--accent-color);
    padding: .5vw;
    border-radius: 5px;
    margin-top: 3vh;
}

.wrapper { /* Wrapper zet de form in het midden */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 50ch;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    border: none;        
    background: none;
    outline: none; /* Standaard styling uit */

    margin: 1vw;
    margin-bottom: 2vw;
}

.fieldset_header {
    background-color: transparent;
}

legend {
    font-weight:600;
    color: var(--secondary-color);
}

label {
    width: 100%;
    max-width: 85vw;
    text-align: left;
    margin: 1vw;
}

label:has(input[type="radio"]:checked) {
    border: 3px solid;
    border-color: var(--accent-color);
    font-weight: 400;
}

input {
    background: var(--primary-color);
    outline-color: var(--accent-color);

    width:100%;
    max-width: 75vw;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input[type="radio"] {
    visibility: hidden;
}

button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.button {
    width:100%;
    max-width: 75vw;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
}